@if (!dismissed) {
<div class="treo-message-container" [@fadeIn]="dismissed === null ? false : !dismissed" [@fadeOut]="dismissed === null ? false : !dismissed">
    <!-- Icon -->
    @if (showIcon) {
    <div class="treo-message-icon">
        <!-- Custom icon -->
        <div class="treo-message-custom-icon">
            <ng-content select="[treoMessageIcon]"></ng-content>
        </div>

        <!-- Default icons -->
        <div class="treo-message-default-icon">
            @if (type === 'primary') {
            <mat-icon [svgIcon]="'check_circle'"></mat-icon>
            }
            @if (type === 'accent') {
            <mat-icon [svgIcon]="'check_circle'"></mat-icon>
            }
            @if (type === 'warn') {
            <mat-icon [svgIcon]="'warning'"></mat-icon>
            }
            @if (type === 'basic') {
            <mat-icon [svgIcon]="'check_circle'"></mat-icon>
            }
            @if (type === 'info') {
            <mat-icon [svgIcon]="'info'"></mat-icon>
            }
            @if (type === 'success') {
            <mat-icon [svgIcon]="'check_circle'"></mat-icon>
            }
            @if (type === 'warning') {
            <mat-icon [svgIcon]="'warning'"></mat-icon>
            }
            @if (type === 'error') {
            <mat-icon [svgIcon]="'error'"></mat-icon>
            }
        </div>
    </div>
    }

    <!-- Content -->
    <div class="treo-message-content">
        <div class="treo-message-title">
            <p>
                <ng-content select="[treoMessageTitle]"></ng-content>
            </p>
        </div>

        <div class="treo-message-message">
            <p>
                <ng-content></ng-content>
            </p>
        </div>
    </div>

    <!-- Dismiss button -->
    <button class="treo-message-dismiss-button" mat-icon-button (click)="dismiss()">
        <mat-icon [svgIcon]="'close'"></mat-icon>
    </button>
</div>
}
