SCRUTINY_IMAGE=ghcr.io/starosdev/scrutiny:latest
SCRUTINY_WEB_PORT=8580
SCRUTINY_INFLUXDB_PORT=8086
SCRUTINY_CONFIG_DIR=/mnt/user/appdata/scrutiny/config
SCRUTINY_INFLUXDB_DIR=/mnt/user/appdata/scrutiny/influxdb
TZ=America/New_York
SCRUTINY_BASE_URL=http://127.0.0.1:8580
