@use "sass:map";
@use 'treo';

theme-toggle {
    display: flex;
    align-items: center;

    .theme-toggle-button {
        width: 44px;
        height: 44px;

        mat-icon {
            @include treo.treo-icon-size(24);
        }
    }
}

@include treo.treo-theme {
    $foreground: map.get(treo.$theme, foreground);

    theme-toggle {
        .theme-toggle-button {
            color: map.get($foreground, text);
        }
    }
}
